{% extends "layout.html" %}

{% block title %}
    Sale
{% endblock %}

{% block main %}
    <div class="changePassword-body">
            <div class="changePassword-inner-body">
            <div><h3>Change Password</h3></div>
            <form method = "post" action="/changePassword">
                <div class = "row">
                    <div class="col-md-6 form-group">
                        <label for="cred_id"></label><br>
                        <select class="form-control" name="cred_id" id="cred_id" onchange="changePassword();">
                            <option disabled="" selected="" value="0">Select Person</option>
                            {% for user in users %}
                            <option value = {{user.credential_id}}>{{user.fullName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="text-left" for="today-date">User Name</label><br>
                        <input class="form-control" autocomplete="off" id = "username" readonly name = "username" placeholder="username" type="text">
                    </div>
                </div>
                <div class="changePass-block" id = "changePass-block" style="display: none;">
                    <div class = "row">
                        <div class="col-md-6 form-group">
                            <label for="changePass">Password</label><br>
                            <input class="form-control" autocomplete="off" id = "changePass" name = "changePass" placeholder="Password" type="password">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="re-changePass">Confirm Password</label><br>
                            <input class="form-control" autocomplete="off" id = "re-changePass" name = "re-changePass" placeholder="Re-Enter the Password" type="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary form-control" name="changePass-button" type="submit">Change Password</button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function changePassword()
        {
            let user = document.getElementById("cred_id").value;
            let user_list = '{{json_user|safe}}';
            user_list = Array.from(JSON.parse(user_list));
            for (var i = 0; i < user_list.length; i++)  
            {
                let person = user_list[i]
                if (parseInt(person["credential_id"]) == parseInt(user))
                {
                    document.querySelector("#username").value = person["username"] ;
                }
            }
            document.querySelector("#changePass-block").style.display = 'block';
        }
    </script>
{% endblock %}