{% extends "layout.html" %}

{% block title %}
Add Item
{% endblock %}

{% block main %}
<form action="/moneywithdrawal" method="post">
    <div class="container moneywithdrawal_body">
        <div class = "row pb-0">
            <div class="row billGen-h2"><h2>Withdraw Money</h2></div>
        </div>
        <div class="row">
            <div class="col-md-5  item">
                <label class="form-check-label">Withdrawer Name</label>
                <input type="text" class="form-control" id="withdrawername" name="withdrawername" value = "{{session["user_name"] | capitalize  }}"
                    required readonly />
            </div>
            <div class="col-md-5  item">
                <label class="form-check-label">To Whom</label>
                <input type="text" class="form-control" id="towhom" name="towhom" placeholder="To Whom" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 item">
                <label class="form-check-label">Amount</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" required />
            </div>
            <div class="col-md-5 item">
                <label class="form-check-label">Reason</label>
                <input type="text" class="form-control" id="reason" name="reason" placeholder="Reason of Withdrawal" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 item">
                <label class="form-check-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" required />
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 ">
                <button class="btn btn-primary" type="submit">Withdraw Money</button>
            </div>
        </div>

{% endblock %}